body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

#map-container {
    position: relative;
    margin-bottom: 20px;
}

/* Add these lines at the end of style.css */
img {
    max-width: 85%;
    height: auto;
    margin-left: 150px; /* Move the image to the right */
    margin-right: 200px; /* Adjust the margin as needed */
}



#start-end-points {
    position: absolute;
    top: 0;
    left: 0;
}

#start-point,
#end-point {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 12px;
}

#find-route-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#find-route-btn:hover {
    background-color: #27ae60;
}

.autocomplete-item:hover, .autocomplete-active {
    background-color: #3498db;
    color: #fff;
}
/* Add these lines at the end of style.css */
.autocomplete-items {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #3b3939; /* Set background color to gray */
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
    color: #000; /* Set text color to black */
}

.autocomplete-item:hover,
.autocomplete-active {
    background-color: #3498db; /* Set background color to blue on hover or when active */
    color: #fff; /* Set text color to white on hover or when active */
}
/* Add these lines at the end of style.css */
#start-end-points {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
}

#route-map {
    margin: 20px 0 20px auto; /* Move the map image to the right */
    display: block; /* Ensure the map is a block-level element */
}
